<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https//www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Homepage Lehrerkalender</title>
    <!-- "@"-Symbol referenziert den context path der app -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/loginStyle.css}"/>
</head>
<body>

<p th:text="'Willkommen zum ' + ${appName}" class="welcomeText"></p>
<a th:href="@{/login}">Login</a>
<p>Klicken Sie <a th:href="@{/students/class-overview}">hier</a>, um zu ihrem persönlichen Lehrerkalender zu gelangen.</p>

<!-- TODO: Registrierung -->
<p>Klicken Sie <a th:href="@{/account/register}">hier</a>, um sich für Ihren persönlichen Lehrerkalender zu registrieren.
</p>
<p></p>
</body>
</html>